#ol1 {
  background-color:#E6E6FA;
  color:#20B2AA;
  font-family:Impact;
  font-style:italic;
  font-size:20px;
}

#p2 {
  text-align:center;
  color:blue;
}
 table {
  border-collapse: collapse;
  width: 40%;
  margin: auto;
}
th, td {
  border: 1px solid #20B2AA;
  padding: 10px;
  text-align: center;
}
th {
  background-color: purple;
  color: white;
}
tr:nth-child(odd) {
  background-color: #E5AA70;
}

tr:nth-child(even) {
  background-color: #E1C16E	;
}
tr:hover {
  background-color: #FFB8B8;
}
